<header class="navbar">
    <div class="logo">
        <a routerLink="/" class="logo-link">
        <img src="assets/dp_world_logo.png" alt="DP World Logo" class="logo-img" />
        <h3>DP WORLD</h3>
        </a>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/orders">Orders</a></li>
            <li><a routerLink="/add-customer">Add Customer</a></li>
            <li><a routerLink="/add-item">Add Item</a></li>
        </ul>
    </nav>
</header>